body{
    background-color: rgb(143, 143, 143);
    display: flex;
    justify-content: center;
}
.main{
    background-color: rgb(143, 143, 143);
    display: flex;
    flex-direction: column;
    width: 700px;
}
.title{
    color: rgb(124, 0, 0);
    text-align: center;
    padding:17px 0px 33px 0px ;
    background-color: white;
    font-family: arial black,arial bold;
    margin-top: 45px;
    align-items: center;
    width: 100%;
}
.form-div{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 209, 209);
    padding-bottom: 20px;
    margin-bottom: 45px;
}
.row-div{
    display: flex;
    flex-wrap: wrap;
}
.row-div-Q{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 40px;
}
.row-div-Q-1{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.row-div0{
    display: flex;
    flex-wrap: wrap;
}
.row-div-top{
    display: flex;
    flex-wrap: wrap;
}
.div50-top-right{
    margin-top: 20px;
    width: 280px;
    margin-left: 60px;
    background-color: rgb(209, 209, 209);
    font-size: 13px;
}
.div50-top-left{
    margin-top: 20px;
    width: 280px;
    margin-left: 60px;
    background-color: rgb(209, 209, 209);
    font-size: 13px;
}
.div50{
    width: 280px;
    margin-left: 60px;
    background-color: rgb(209, 209, 209);
}
.date-textbox{
    width: 80%;
    height: 30px;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 16px;
}
.note{
    color: #575757;
    padding-bottom: 40px;
    margin-block-start: 0em;
}
.mar-left10{
    padding-left: 60px;
}
.wid100{
    width: 100%;
}
.red{
    color: rgb(177, 2, 2);
    font-family: sans-serif;
    line-height: 27px;
    font-size: 13px;
}
.mar-bot100px{
    margin-bottom: 100px;
}
.btn{
    width: 20%;
    margin-left: 40%;
    margin-top: 35px;
    padding: 15px 0 15px 0;
    font-size: 20px;
    border-radius: 10px;
    border: 0px;
    background-image: linear-gradient( #3d3d3d , #575757);
    color: white;
}
.txtarea{
    width: 80%;
    height: 200px;
    margin-top: 16px;
    font-family: arial;
    font-size: 10px;
    padding: 10px;
    margin-left: 10%;
}
.label-font{
    font-size: 16px;
    color: rgb(124, 0, 0);
    font-family: sans-serif;
    font-weight: bold;
}